<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<body>

<th:block th:fragment="common-head">
    <meta name="application-name" content="Hexa Tours">
    <meta name="apple-mobile-web-app-title" content="Hexa Tours">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            th:href="@{/assets/images/favicon-32x32.png}"
            href="/assets/images/favicon-32x32.png">

    <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            th:href="@{/assets/images/favicon-192x192.png}"
            href="/assets/images/favicon-192x192.png">

    <link
            rel="apple-touch-icon"
            sizes="180x180"
            th:href="@{/assets/images/apple-touch-icon.png}"
            href="/assets/images/apple-touch-icon.png">
</th:block>

</body>
</html>
